h1 {
  font-size: 28px;
  font-weight: 300;
  flex: 1;
}
.cart-icon-flex {
  display: flex;
  align-items: center;
  /* justify-content: baseline; */
}
.cart-icon {
  height: 50px;
}
.cart-icon:hover {
  opacity: 0.5;
}
.logocart {
  display: flex;
  /* border: 1px solid red; */
  width: 300px;
}
.quant {
  /* border: 1px solid red; */
  width: 20px;
  height: 20px;
  border: 2px solid rgb(246, 246, 246);
  border-radius: 50%;
  background-color: black;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 3px;
  margin-left: -20px;
}

.product-filter {
  display: flex;
  padding: 30px 0;
  justify-content: space-around;
}

.sort {
  display: flex;
  align-self: flex-end;
}

.collection-sort {
  display: flex;
  flex-direction: column;
}

.collection-sort:first-child {
  padding-right: 20px;
}

@media (max-width: 480px) {
  h1 {
    margin-bottom: 20px;
  }

  .product-filter {
    flex-direction: column;
  }

  .sort {
    align-self: flex-start;
  }
}
.slider{
  /* border: 1px solid red; */
  width: 200px;
}
